<div class="card">
    <div class="card-header">Filtro</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item">
                      <input class="form-check-input me-1" name="Livro" type="radio" value="1">
                      Livros
                    </li>
                    <li class="list-group-item">
                      <input class="form-check-input me-1" name="CD" type="radio" value="2">
                      CDs
                    </li>
                    <li class="list-group-item">
                      <input class="form-check-input me-1" name="Eletronico" type="radio" value="3">
                      Eletrônicos
                    </li>
                  </ul>
                <div class="d-grid gap-2"><button class="btn btn-primary btn-sm my-3">Filtrar</button></div>
            </div>
        </form>
    </div>
</div>
