<div class="container py-2">
  <div class="d-flex flex-column flex-md-row align-items-center pb-2 mb-4 border-bottom">
    <a routerLink="/"  class="d-flex align-items-center text-dark text-decoration-none">
      <bs-header></bs-header>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a routerLink="/about" class="me-3 py-2 text-dark text-decoration-none">Sobre</a>
      <a routerLink="/products" class="me-3 py-2 text-dark text-decoration-none">Produtos</a>
      <a routerLink="/support" class="me-3 py-2 text-dark text-decoration-none">Suporte</a>
    </nav>
    <a routerLink="/login" class="btn btn-outline-primary">Login</a>
  </div>
</div>



